<form [formGroup]="signupForm" class="w-1/4 mx-auto" (ngSubmit)="onSubmit()">
  <div class="mb-2">
    <app-input
      label="Username"
      [control]="getFormControl('username')"
    ></app-input>
  </div>
  <div class="mb-2">
    <app-input
      label="Password"
      [control]="getFormControl('password')"
      type="password"
    ></app-input>
  </div>
  <div class="mb-2">
    <app-input
      label="Password Confirmation"
      [control]="getFormControl('confirmPassword')"
      type="password"
    ></app-input>
  </div>
  <div
    class="mb-2"
    *ngIf="
      (getFormControl('password').touched ||
        getFormControl('password').dirty) &&
      (getFormControl('confirmPassword').touched ||
        getFormControl('confirmPassword').dirty) &&
      signupForm.errors
    "
  >
    <p
      class="text-red-700 text-xs mt-1"
      *ngIf="signupForm.errors.passwordsDontMatch"
    >
      Password don't match
    </p>
  </div>
  <button
    type="submit"
    class="
      bg-indigo-400
      my-2
      px-3
      py-2
      rounded-md
      shadow-md
      text-indigo-50
      disabled:bg-gray-200
      disabled:text-gray-300
      disabled:shadow-none
    "
    [disabled]="!signupForm.valid"
  >
    Submit
  </button>
</form>
