<header class="  bg-indigo-500">
  <div class="flex justify-between items-center w-3/4 mx-auto py-3 px-5 text-indigo-100">
  <div>
    <a routerLink="/" class="text-xl font-bold tracking-wider">Email Client</a>
  </div>
  <nav>
    <ul class="flex space-x-2">
      <li><a routerLink="/" class="px-2 hover:text-indigo-300">Sign In</a></li>
      <li><a routerLink="/signup" class="px-2 hover:text-indigo-300">Sign Up</a></li>
    </ul>
  </nav>
</div>
</header>
<div class="bg-gray-100 rounded-md shadow-md w-3/4 mx-auto p-5 mt-3">
  <router-outlet></router-outlet>
</div>
